<ul class="nav nav-list">
  <li class="active"><a href="/admin"><i class="icon-home icon-white"></i> Home</a></li>
  <li><a href="/articles"><i class="icon-book"></i> ArticlesList</a></li>
  <li><a href="/users"><i class="icon-pencil"></i> UsersList</a></li>
</ul>
