<div class="row">
  <div class="span6 offset3">
  <h3 class="text-info">寂静唠叨</h3>
  <table class="table table-bordered">
    <% @article.each do |a| %>
    <tr>
      <td><%=a.id%></td>
      <td><%= link_to a.heading, a %></td>
      <%if signed_in?%>
      <td><%= link_to 'Edit', edit_article_path(a) %></td>
      <%end%>
    </tr>
    <%end%>
  </table>
  </div>  
</div>  
