<div class="row">
  <div class="span8 offset2">
    <h3 class="text-info">寂静唠叨</h3>
    <div id='container'>
      <% @article.each do |a| %>
        <div class='box '>
          <%= link_to a.heading, a %>
        </div>
      <% end %>
    </div>
  </div>
</div>
