<div class="row">
  <div class="span8 offset2">   
    <div class="well">
      <p class="lead text-info"><%=@article.heading%></p>
      <p>
        <small><%=@article.content%></small>
      </p>
    </div>
  </div>
</div>  
