<div class="row">
  <div class="span8 offset2">   
    <div class="well">
      <p class="lead text-info"><%=@article.heading%></p>
      <p>
        <small><%=@article.content%></small>
      </p>
      <div class='ago'><%= time_ago_in_words(@article.created_at)%> ago</div>
    </div>    
  </div>
</div>  
