<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <p>个人简历</p>
    
    <ul>
      <li>2012年8月--今，
        <p>恺英网络</p>
        <p>负责蜀山传奇游戏的活动开发</p>
      </li>
      <li>
        2011年7月--2012年8月
        <p>炫踪网络科技</p>
        <p>负责微城市游戏开发[现已下线]，负责花店功能开发、日常维护，新游戏开发[未下线]</p>
      </li>
      <li>
        2012年，河北联合大学(原河北理工大学)，计算机网络技术，专科
      </li>
      <li>
        联系方式：
        姓名:刘洋        
        Email:chrfranklin@gmail.com        
      </li>      
    </ul>
  </body>
</html>
