<div class="hero-unit contact_div">
  <div id='contact'>
    <ul class="inline">
      <li>Contact:</li>
      <li>
        <a id="email" href="#" class="btn btn-primary" rel="popover" data-original-title="My Email" data-content="chrfranklin[at]gmail.com" data-placement="bottom"><strong>Email</strong>:</a>
      </li>
      <li>
        <a id="facebook" href="#" class="btn btn-primary" rel="popover" data-original-title="My Facebook" data-content="100002752486161" data-placement="bottom"><strong>Facebook</strong>:</a>
      </li>
      <li>
          <a id="github" href="#" class="btn btn-primary" rel="popover" data-original-title="My Github" data-content="@chrfranklin" data-placement="bottom"><strong>Github</strong>:</a>
      </li>
    </ul>
  </div>
    
</div>
