<div class="row">
  <div class="span6 offset3">
  <h3 class="text-info">网站开发、升级历史</h3>
    <table class='table table-striped'>
      <tr>
        <td>发送简历功能<td>
        <td>2013年3月23日<td>
      </tr>
      <tr>
        <td>网站文章管理系统<td>
        <td>2013年3月18日<td>
      </tr>      
    </table>
  </div>
</div>  

