<div class="hero-unit">
  <p>联系方式</p>
  <p>
    <span class="label label-important">Gmail:</span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;chrfranklin@gmail.com
  </p>
  <p>
  <span class="label label-warning">facebookId:</span>
    100002752486161
  </p>
</div>
