<div class="center hero-unit">
  <h2>先来认识一下谁是寂静之坑</h2>

  <h1>
    成长历史
  </h1>
  
</div>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#rA">1987</a></li>
    <li><a data-toggle="tab" href="#rB">1995</a></li>
    <li><a data-toggle="tab" href="#rC">2008</a></li>
    <li><a data-toggle="tab" href="#rD">2010</a></li>
    <li><a data-toggle="tab" href="#rE">2011</a></li>
    <li><a data-toggle="tab" href="#rF">2012</a></li>
    <li><a data-toggle="tab" href="#rG">2013</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-content">
      <div id="rA" class="tab-pane active">
        <p class="text-error">在25年前的某一天中午，一个男娃诞生了，25年后他开始学做Ruby程序员。射手座的Ruby程序员</p>
        <p class="text-info">之后起了一名字叫刘洋或者称为<em>Frank</em></p>
      </div>
      <div id="rB" class="tab-pane">
        <p>这一年开始,为做一个社会主义接班人而不断奋斗，为社会主义伟大事业时刻准备着。</p>
      </div>
      <div id="rC" class="tab-pane">
        <p>现在开始了大学生活，最终在2012年取得了计算机网络技术的毕业证书</p>
      </div>
      <div id="rD" class="tab-pane">
        <span>2010年的10月份</span>
        <p>一个偶然的机会我来到了昆山安博学习PHP</p>
      </div>
      <div id="rE" class="tab-pane">
        <span>2011年的3月份</span>
        <p>第一份工作：在苏州园区，一家做网站的公司，主要负责企业网站的制作。</p>
        <p class="text-info">使用语言：asp。</p>
        <span>2011年的6月份</span>
        <p>第二份工作：在无锡新区，一家做游戏的公司，主要负责游戏网站后台工具开发，游戏功能开发</p>
        <p>使用语言：PHP</p>
        <span>2011年的8月份</span>
        <p>第三份工作：在上海，上海炫踪网络科技，主要负责游戏功能开发</p>
        <p class="text-info">使用语言：PHP</p>
      </div>
      <div id="rF" class="tab-pane">
        <span>2012年的8月份</span>
        <p>第三份工作：在上海，上海恺英网络，主要负责游戏活动功能开发</p>
        <p>使用语言：PHP</p>
      </div>
      <div id="rG" class="tab-pane">
        <span>2013年的2月份</span>
        <p>开始学习Ruby</p>
        <strong>技能</strong>
        <blockquote>
          <p>擅长的后端语言</p>
          <small>Ruby,PHP</cite></small>
          <p>擅长了解的缓存技术</p>
          <small>Memcache</cite></small>
          <p>擅长了解的数据库</p>
          <small>Mysql</cite></small>
          <p>身体现在还算硬朗，一次能吃5个大馒头</p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
